<!-- Footer -->
<footer class="border-t border-white/10 py-8">
  <div class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-4 px-4 text-base text-slate-400 sm:flex-row sm:px-6 lg:px-8">
    <div class="text-base">© 2026 Ilham Portfolio. All rights reserved.</div>
    <div class="flex items-center gap-6">
      <a href="https://github.com/Ilhamaris" target="_blank" rel="noreferrer noopener" class="hover:text-white text-2xl"><i class="fa-brands fa-github"></i></a>
      <a href="https://linkedin.com/in/ilhamaris" target="_blank" rel="noreferrer noopener" class="hover:text-white text-2xl"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/ilhamptr.a?igsh=N3k3c2xwdGNrYzl6" target="_blank" rel="noreferrer noopener" class="hover:text-white text-2xl"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
